<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Axle.Application" version="1.9.2590.28045" targetFramework="net452" />
  <package id="Axle.Configuration" version="1.9.2590.28045" targetFramework="net452" />
  <package id="Axle.Core" version="1.9.2590.28045" targetFramework="net452" />
  <package id="Axle.Data" version="1.9.2590.28045" targetFramework="net452" />
  <package id="Axle.Data.OleDb" version="1.9.2590.28045" targetFramework="net452" />
  <package id="Axle.Resources" version="1.9.2590.28045" targetFramework="net452" />
  <package id="Axle.Text.Data" version="1.9.2590.28045" targetFramework="net452" />
 
  <package id="DatabaseConnections.OleDb" version="2.0.0" targetFramework="net452" />
  <package id="Databasic.Core" version="1.2.8" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Interop" version="17.4.33103.184" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="17.4.33103.184" targetFramework="net452" />
  <package id="SFERA.Database.Wrapper.Microsoft.OleDB" version="10.2021.1" targetFramework="net452" />
  <package id="SFERA.Helpers.BaseClass" version="1.2020.234" targetFramework="net452" />
  <package id="SFERA.Helpers.VisualBasic" version="1.2021.1" targetFramework="net452" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net452" />
</packages>